{% extends "limited/base.html" %}
{% load limited_filters %}

{% block media %}
<script type='text/javascript' src='{{ STATIC_URL }}limited/js/actions.js'></script>
<script type="text/javascript">
    jQuery(document).ready( function() {

        jQuery('.delete').click(function() {
            Trash( this )
        })
        jQuery('.rename').click(function() {
            Rename( this )
        })
        jQuery('.move').click(function() {
            Move( this )
        })
        jQuery('.link').click(function() {
            Link( this )
        })
        jQuery('.zip').click(function() {
            Zip( this )
        })
        jQuery('.size').click(function() {
            Size( this )
        })
    });
</script>
{% endblock %}

{% block panels %}
{% if permission.upload %}
<div class="module">
    <h2>Upload</h2>

    <h3>Files</h3>

    <div class="upload">
        <form action="{% url upload home_id %}" method="post" enctype="multipart/form-data">{% csrf_token %}
            <input type="file" draggable="true" name="files" id="files" multiple="multiple" style="width: 210px;"/>
            <input type="hidden" name="p" value="{{ path }}">
            <input type="submit" name="submit" value="Upload" style="margin: 5px 5px;">
        </form>
    </div>
</div>
{% endif %}
{% if permission.edit %}
<div class="module">
    <h2>Create</h2>

    <div class="upload">
        <form action="{% url action home_id 'add' %}" method="GET" >
            <input type="text" name="n" size="32" style="margin: 5px 5px;">
            <input type="hidden" name="p" value="{{ path }}">
            <input type="submit" name="submit" value="Ok" style="margin: 5px 5px;">
        </form>
    </div>
</div>
{% endif %}

{% include "limited/includes/history.html" %}
    
{% endblock %}

{% block main %}
<div class="module" id="changelist">

    <table id="result_list" cellspacing="0">
        <caption>
            <a href="{% url browser home_id %}" class="section">{{ home }}</a>
        </caption>
        <thead>
        <tr>
            <th class="hide" ></th>
            <th scope="col" class="sorted ascending" style="width: 70%;" >
                <a href="#">Name</a>
            </th>
            <th> Actions</th>
            <th scope="col" style="width: 7%;">
                <a href="#">Size</a>
            </th>
            <th scope="col" >
                <a href="#">Time</a>
            </th>
        </tr>
        </thead>
        <tbody>
        {% for item in files %}
            <tr class="{% cycle 'row1' 'row2' %}">
                <td class="info hide" >{ "home": "{{ home_id }}", "path": "{{ item.url|urlencode }}", "name": "{{ item.name }}" }</td>
                <td ondblclick="location.href='{% url download home_id %}?p={{ item.url|urlencode }}'">
                    {% if item.class == 'dir' %}
                    <a href="{% url browser home_id %}?p={{ item.url|urlencode }}" class="{{ item.class }}">{{ item.name|mini}}</a>
                    {% else %}
                    <a href="{% url download home_id %}?p={{ item.url|urlencode }}" class="{{ item.class }}">{{ item.name|mini:"ext" }}</a>
                    {% endif %}
                </td>
                <td class="nowrap">
                    <div class="align-right">
                        {% if user.is_authenticated %}
                        <img class="zip" src="{{ STATIC_URL }}limited/img/zip.png" title="Zip/unZip files and folders"/>
                        {% endif %}
                        {% if permission.edit %}
                        <img class="rename" src="{{ STATIC_URL }}limited/img/edit.png" title="Rename"/>
                        <img class="move" src="{{ STATIC_URL }}limited/img/move.png" title="Move to other dir"/>
                        {% endif %}
                        <img class="link" src="{{ STATIC_URL }}limited/img/link.png" title="Create direct link"/>
                        {% if permission.delete %}
                        <img class="delete" src="{{ STATIC_URL }}limited/img/delete.png" title="Move to trash"/>
                        {% endif %}
                    </div>
                </td>
                <td class="nowrap size">{% if item.size == 0 %}Click{% else %}{{ item.size|filesizeformat }}{% endif %}</td>
                <td class="nowrap">{{ item.time|date:"Y F d, P" }}</td>
            </tr>
        {% endfor %}

        {% if files|length == 0 %}
            {% include "limited/includes/noitems.html" %}
        {% endif %}

        </tbody>
    </table>
</div>
{% endblock %}