{% extends "limited/base.html" %}

{% block media %}
<script type="text/javascript">


    function Notify( message ) {
        jQuery('.messagelist').append('<li class="info">'+message+'</li>');
    }
    function NotifyError( message ) {
        jQuery('.messagelist').append('<li class="error">'+message+'</li>');
    }
    function NotifyWarning( message ) {
        jQuery('.messagelist').append('<li class="warning">'+message+'</li>');
    }

    function Trash( obj ) {

        var data = jQuery.parseJSON( jQuery(obj).parent().parent().parent().children('.info').text() );
        var flag = confirm("Do you realy want to delete " + jQuery.trim(data.name) + "?");

        if ( flag == true )
        {
            link = '{% url action 'trash' %}?h='+data.home+'&amp;p='+data.path+'&amp;n=' + name;
            window.location = link;
        }
        else
        {
            NotifyWarning('Deleting canceled by user');
        }
    }

    function Rename( obj ) {
        var data = jQuery.parseJSON( jQuery(obj).parent().parent().parent().children('.info').text() );
        var name = prompt( 'Enter new name', jQuery.trim(data.name) );

        if (name!=null && name!="")
        {

            link = '{% url action 'rename' %}?h='+data.home+'&amp;p='+data.path+'&amp;n=' + name;
            window.location = link;
        }
        else {
            NotifyWarning('Rename canceled by user');
        }
    }

    function Move( obj ) {

        var data = jQuery.parseJSON( jQuery(obj).parent().parent().parent().children('.info').text() );
        var path2 = prompt( 'Enter new path', '' );

        if (path2!=null && path2!="")
        {
            link = '{% url action 'move' %}?h='+data.home+'&amp;p='+data.path+'&amp;p2=' + path2;
            window.location = link;
        }
        else {
            NotifyWarning('Moving canceled by user');
        }
    }

    function Link( obj ) {
        var data = jQuery.parseJSON( jQuery(obj).parent().parent().parent().children('.info').text() );

        link = '{% url action 'link' %}?h='+data.home+'&amp;p='+data.path;
        window.location = link;
    }

    function Zip( obj ) {
        var data = jQuery.parseJSON( jQuery(obj).parent().parent().parent().children('.info').text() );

        link = '{% url action 'zip' %}?h='+data.home+'&amp;p='+data.path;
        window.location = link;
    }

    function Size( obj ) {
        var data = jQuery.parseJSON( jQuery(obj).parent().children('.info').text() );

        link = '{% url action 'size' %}?h='+data.home+'&amp;p='+data.path;
        jQuery.get( link, function( size ){
           jQuery(obj).text( size );
        });
    }

    jQuery(document).ready( function() {

        jQuery('.delete').click(function() {
            Trash( this )
        })
        jQuery('.rename').click(function() {
            Rename( this )
        })
        jQuery('.move').click(function() {
            Move( this )
        })
        jQuery('.link').click(function() {
            Link( this )
        })
        jQuery('.zip').click(function() {
            Zip( this )
        })
        jQuery('.size').click(function() {
            Size( this )
        })
    });
</script>
{% endblock %}

{% block panels %}
{% if permission.upload %}
<div class="module">
    <h2>Upload</h2>

    <h3>Files</h3>

    <div class="upload">
        <form action="{% url upload %}" method="post" enctype="multipart/form-data">{% csrf_token %}
            <input type="file" draggable="true" name="files" id="files" multiple="multiple" style="width: 210px;"/>
            <input type="hidden" name="h" value="{{ home_id }}">
            <input type="hidden" name="p" value="{{ path }}">
            <input type="submit" name="submit" value="Upload" style="margin: 5px 5px;">
        </form>
    </div>
</div>
{% endif %}
{% if permission.edit %}
<div class="module">
    <h2>Create</h2>

    <div class="upload">
        <form action="{% url action 'add' %}" method="GET" >
            <input type="text" name="n" size="32" style="margin: 5px 5px;">
            <input type="hidden" name="h" value="{{ home_id }}">
            <input type="hidden" name="p" value="{{ path }}">
            <input type="submit" name="submit" value="Ok" style="margin: 5px 5px;">
        </form>
    </div>
</div>
{% endif %}

<div class="module">
    <h2>Recent Actions</h2>

    {% if history|length != 0 %}
    <h3>History</h3>
    {% else %}
    <h3>Nothig</h3>
    {% endif %}

    <ul class="actionlist">
        {% for item in history %}
        <li class="{{ item.get_type_display }}link">
            <a href="{% url browser %}?h={{ item.lib_id }}&amp;p={{ item.path }}">{{ item.message|safe }}</a>
            <br/>
            <span class="mini quiet">{{ item.user }}</span>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}

{% block main %}
<div class="module" id="changelist">

    <table id="result_list" cellspacing="0">
        <caption>
            <a href="/browser/?h={{ home_id }}" class="section">{{ home }}</a>
        </caption>
        <thead>
        <tr>
            <th class="hide" ></th>
            <th scope="col" class="sorted ascending" style="width: 70%;" >
                <a href="#">Pk</a>
            </th>
            <th> Actions</th>
            <th scope="col" style="width: 7%;">
                <a href="#">Size</a>
            </th>
            <th scope="col" >
                <a href="#">Time</a>
            </th>
        </tr>
        </thead>
        <tbody>
        {% for item in files %}
            <tr class="{% cycle 'row1' 'row2' %}">
                <td class="info hide" >{ "home": "{{ home_id }}", "path": "{{ item.url }}", "name": "{{ item.name }}" }</td>
                <td ondblclick="location.href='{% url download %}?h={{ home_id }}&amp;p={{ item.url|urlencode }}'">
                    {% if item.class == 'dir' %}
                    <a href="{% url browser %}?h={{ home_id }}&amp;p={{ item.url|urlencode }}" class="{{ item.class }}">{{ item.name }}</a>
                    {% else %}
                    <a href="{% url download %}?h={{ home_id }}&amp;p={{ item.url|urlencode }}" class="{{ item.class }}">{{ item.name }}</a>
                    {% endif %}
                </td>
                <td class="nowrap">
                    <div class="align-right">
                        {% if user.is_authenticated %}
                        <img class="zip" src="{{ STATIC_URL }}limited/img/zip.png" title="Zip/unZip files and folders"/>
                        {% endif %}
                        {% if permission.edit %}
                        <img class="rename" src="{{ STATIC_URL }}limited/img/edit.png" title="Rename"/>
                        <img class="move" src="{{ STATIC_URL }}limited/img/move.png" title="Move to other dir"/>
                        {% endif %}
                        <img class="link" src="{{ STATIC_URL }}limited/img/link.png" title="Create direct link"/>
                        {% if permission.delete %}
                        <img class="delete" src="{{ STATIC_URL }}limited/img/delete.png" title="Move to trash"/>
                        {% endif %}
                    </div>
                </td>
                <td class="nowrap size">{% if item.size == 0 %}Click{% else %}{{ item.size|filesizeformat }}{% endif %}</td>
                <td class="nowrap">{{ item.time|date:"Y F d, P" }}</td>
            </tr>
        {% endfor %}

        {% if files|length == 0 %}
            <tr class="row1">
                <td class="hide"></td><td><a href="#"></a></td><td class="nowrap"></td>
                <td class="nowrap"></td><td class="nowrap"></td>
            </tr>
            <tr class="row2">
                <td class="hide"></td>
                <td><a href="#">There is no any files or folders</a></td><td class="nowrap"></td>
                <td class="nowrap"></td><td class="nowrap"></td>
            </tr>
            <tr class="row1">
                <td class="hide"></td><td><a href="#"></a></td><td class="nowrap"></td>
                <td class="nowrap"></td><td class="nowrap"></td>
            </tr>
        {% endif %}

        </tbody>
    </table>
</div>
{% endblock %}