{% extends "limited/base.html" %}

{% block panels %}

    {% include "limited/includes/info.html" %}

{% endblock %}

{% block media %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}limited/css/login.css" />
{% endblock %}

{% block main %}
<div class="module">

    <table id="result_list" cellspacing="0">
        <caption>
            <a href="#" class="section">Error</a>
        </caption>
        <tbody>
            <tr class="row1" style="height: 10px;">
                <td></td>
            </tr>
            <tr class="row2">
                <td><a href="#" class="error">{{ message }}</a></td>
            </tr>
            <tr class="row1" style="height: 10px;">
                <td></td>
            </tr>
        </tbody>
    </table>

</div>
{% endblock %}