{% extends "limited/base.html" %}

{% block panels %}
<div class="module">
    <h2>Information</h2>

    <h3>About</h3>
    <ul class="actionlist">
        <li class="addlink">
            <a href="login.html#">FAQ</a>
        </li>
         <li class="addlink">
            <a href="login.html#">Source code</a>
        </li>
    </ul>
</div>    
{% endblock %}

{% block media %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}limited/css/login.css" />
{% endblock %}

{% block main %}
<div class="module">

    <table id="result_list" cellspacing="0">
        <caption>
            <a href="#" class="section">Error</a>
        </caption>
        <tbody>
            <tr class="row1">
                <td></td>
            </tr>
            <tr class="row2">
                <td><a href="#" class="error">{{ message }}</a></td>
            </tr>
            <tr class="row1">
                <td></td>
            </tr>
        </tbody>
    </table>

</div>
{% endblock %}