{% extends "limited/base.html" %}

{% block panels %}
<div class="module">
    <h2>Information</h2>

    <h3>About</h3>
    <ul class="actionlist">
        <li class="addlink">
            <a href="#">FAQ</a>
        </li>
         <li class="addlink">
            <a href="#">Source code</a>
        </li>
    </ul>
</div>
<div class="module">
    <h2>Recent Actions</h2>

    <h3>Files</h3>

    <ul class="actionlist">
        {% for item in history %}
        <li class="{{ item.get_type_display }}link">
            <a href="{% url browser item.lib_id %}?p={{ item.path }}">{{ item.message|safe}}</a>
            <br/>
            <span class="mini quiet">
                in <b>{{ item.lib }}</b> by <b>{{ item.user }}</b>
            </span>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}

{% block main %}
<div class="module dashboard">
    <table>
        <caption><a href="#" class="section">{{ user.username|capfirst }} file libraries</a></caption>
        {% for item in FileLibs %}
        <tr class="{% cycle 'row1' 'row2' %}">
            <th scope="row"><a href="{% url browser item.lib.id %}">{{ item.lib.name }}</a></th>
            <td><a href="{% url trash item.lib_id %}"><img src="{{ STATIC_URL }}limited/img/trash.png"/> Trash</a></td>
            <td><a href="#"><img src="{{ STATIC_URL }}limited/img/history.png"/> History</a></td>
        </tr>
        {% endfor %}
    </table>
</div>

{% if AnonFileLibs|length > 0  %}
<div class="module dashboard">
    <table>
        <caption><a href="#" class="section">Anonymous file libraries</a></caption>
        {% for item in AnonFileLibs %}
        <tr class="{% cycle 'row1' 'row2' %}">
            <th scope="row"><a href="{% url browser item.lib_id %}">{{ item.lib.name }}</a></th>
            <td><a href="{% url trash item.lib_id %}"><img src="{{ STATIC_URL }}limited/img/trash.png"/> Trash</a></td>
            <td><a href="#"><img src="{{ STATIC_URL }}limited/img/history.png"/> History</a></td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endif %}
{% endblock %}