{% extends "limited/base.html" %}

{% block panels %}

    {% include "limited/includes/info.html" %}
    
    {% include "limited/includes/history.html" %}
    
{% endblock %}

{% block main %}
<div class="module dashboard">
    <table>
        <caption><a href="#" class="section">{{ user.username|capfirst }} file libraries</a></caption>
        {% for item in FileLibs %}
        <tr class="{% cycle 'row1' 'row2' %}">
            <th scope="row"><a href="{% url browser item.lib.id %}">{{ item.lib.name }}</a></th>
            <td><a href="{% url trash item.lib_id %}" class="icon trash-icon">Trash</a></td>
            <td><a href="{% url history item.lib_id %}" class="icon history-icon">History</a></td>
        </tr>
        {% endfor %}
    </table>
</div>

{% if AnonFileLibs|length > 0  %}
<div class="module dashboard">
    <table>
        <caption><a href="#" class="section">Anonymous file libraries</a></caption>
        {% for item in AnonFileLibs %}
        <tr class="{% cycle 'row1' 'row2' %}">
            <th scope="row"><a href="{% url browser item.lib_id %}">{{ item.lib.name }}</a></th>
            <td><a href="{% url trash item.lib_id %}" class="icon trash-icon">Trash</a></td>
            <td><a href="{% url history item.lib_id %}" class="icon history-icon">History</a></td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endif %}
{% endblock %}