{% extends "limited/base.html" %}

{% block panels %}
<div class="module">
    <h2>Recent Actions</h2>

    <h3>Files</h3>

    <ul class="actionlist">
        {% for item in history %}
        <li class="{{ item.get_type_display }}link">
            <a href="/browser/?h={{ item.lib_id }}&amp;p={{ item.path }}">{{ item.message }}</a> <br/> <span class="mini quiet">in <b>{{ item.lib }}</b> by <b>{{ item.user }}</b></span>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}

{% block main %}
<div class="module dashboard">
    <table>
        <caption><a href="auth/" class="section">File libraries</a></caption>
        {% for item in FileLibs %}
        <tr class="{% cycle 'row1' 'row2' %}">
            <th scope="row"><a href="/browser/?h={{ item.lib.id }}">{{ item.lib.name }}</a></th>
            <td><a href="/lib{{ item.lib.id }}/trash/"><img src="{{ STATIC_URL }}limited/img/trash.png"/> Trash</a></td>
            <td><a href="#"><img src="{{ STATIC_URL }}limited/img/history.png"/> History</a></td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}