{% extends "limited/base.html" %}
{% load staticfiles %}
{% load limited_filters %}

{% block media %}
<script type="text/javascript" src="{% static "limited/js/actions.js" %}"></script>
<script type="text/javascript">
    jQuery(document).ready( function() {

        jQuery('.delete').click(function() {
            Trash( this )
        })
        jQuery('.rename').click(function() {
            Rename( this )
        })
        jQuery('.move').click(function() {
            Move( this )
        })
        jQuery('.link').click(function() {
            Link( this )
        })
        jQuery('.zip').click(function() {
            Zip( this )
        })
        jQuery('.size').click(function() {
            Size( this )
        })
    });
</script>
{% endblock %}

{% block panels %}

    {% include "limited/includes/info.html" %}

    {% include "limited/includes/history.html" with history=history|slice:":5" %}

{% endblock %}

{% block main %}
<div class="module" id="changelist">

    <table id="result_list" cellspacing="0">
        <caption>
            <a href="{% url browser home_id %}" class="section space">Home</a>
            <a href="{% url history home_id %}" class="section space">History</a>
            <a href="{% url trash home_id %}" class="section">Trash</a>
        </caption>
        <thead>
        <tr>
            <th scope="col">
                <a href="#">Type</a>
            </th>
            <th scope="col" style="width: 70%;" >
                <a href="#">Files</a>
            </th>
            <th scope="col" >
                <a href="#">User</a>
            </th>
            <th scope="col" >
                <a href="#">Time</a>
            </th>
        </tr>
        </thead>
        <tbody>
        {% for item in history %}
            <tr class="{% cycle 'row1' 'row2' %}">
                <td class="nowrap"><img class="rename" src="{{ STATIC_URL }}limited/img/{{ item.get_image_type }}.png"/> {{ item.get_type_display|capfirst }}</td>
                <td class="nowrap history">
{#                    {% joinpath item.path item.files as path %}#}
                    {% if item.files|length == 1 %}
                        <a href="{% url browser home_id %}?p={{ item.path|urlencode }}&hl={{ item.hash }}" class="dir">{{ item.files.0|truncatepath }}</a>
                        <a href="{% url download home_id %}?p={{ item.path|urlencode }}/{{ item.files.0|urlencode }}">download</a>
                    {% else %}
                        <a href="{% url browser home_id %}?p={{ item.path|urlencode }}&hl={{ item.hash }}" class="dir">{{ item.files|join:", "|truncatepath }}</a>
                    {% endif %}
                    {% if item.is_extra %}
                        {{ item.get_extra|safe }}
                    {% endif %}
                    <br/>
                    <div class="mini quiet2">{{ item.path }}</div>
                </td>
                <td class="nowrap">{{ item.user|capfirst }}</td>
                <td class="nowrap">{{ item.time|date:"Y F d, P" }}</td>
            </tr>
        {% endfor %}

        {% if history|length == 0 %}
            {% include "limited/includes/noitems.html" with message="There is no history" %}
        {% endif %}

        </tbody>
    </table>
</div>
{% endblock %}
