<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Limited Gallery</title>
    <link href="{{ STATIC_URL }}limited/favicon.ico" rel="shortcut icon" type="limited/image/x-icon"/>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}iviewer/css/main.css"/>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}iviewer/css/shadowbox.css"/>
    <script type='text/javascript' src='{{ STATIC_URL }}limited/js/jquery-1.5.min.js'></script>
    <script type='text/javascript' src='{{ STATIC_URL }}iviewer/js/shadowbox.js'></script>
    {% block media %}
    {% endblock %}
    <meta name="robots" content="NONE,NOARCHIVE"/>
</head>

<body>

<div id="main">

    <!-- Header -->
    <div id="gallerytitle">
        <h2>
            <span>
                <a href="/">#Home</a>
                {% if home_id %}
                    | <a href="{% url browser home_id %}">{{ home }}</a>
                {% endif %}

                {% for key,value in patharr %}
                    {% if not forloop.last %}
                        | <a href="{% url browser home_id %}?p={{ value }}">{{ key }}</a>
                    {% else %}
                        | {{ key }}
                    {% endif %}
                {% endfor %}
            </span>
            <div class="float-right">
                <a href="{% url browser home_id %}?p={{ path }}">Back</a>
                | <a href="{% url download home_id %}?p={{ path }}">Download</a>
            </div>
            <span class="clear"></span>
        </h2>
    </div>
    <!-- END Header -->

    <div id="messages">
        <ul class="messagelist">
            {% if messages %}
                {% for message in messages %}
                    <li {% if message.tags %}
                            class="{{ message.tags }}"{% endif %}> {{ message.tags|capfirst }}. {{ message|safe }}</li>
                {% endfor %}
            {% endif %}
        </ul>
    </div>

    <!-- Content -->
    <div id="padbox">

        {% block main %}
        {% endblock %}

    </div>
    <!-- END Content -->

</div>

</body>
</html>

