<tr class="row1" style="height: 10px;">
    <td class="hide"></td><td><a href="#"></a></td><td class="nowrap"></td>
    <td class="nowrap"></td><td class="nowrap"></td>
</tr>
<tr class="row2">
    <td class="hide"></td>
    <td><a href="#">{{ message }}</a></td><td class="nowrap"></td>
    <td class="nowrap"></td><td class="nowrap"></td>
</tr>
<tr class="row1" style="height: 10px;">
    <td class="hide"></td><td><a href="#"></a></td><td class="nowrap"></td>
    <td class="nowrap"></td><td class="nowrap"></td>
</tr>