{% extends "base.html" %}

{% block media %}
<script type="text/javascript">


    function Notify( message ) {
        jQuery('.messagelist').append('<li class="info">'+message+'</li>');
    }
    function NotifyError( message ) {
        jQuery('.messagelist').append('<li class="error">'+message+'</li>');
    }
    function NotifyWarning( message ) {
        jQuery('.messagelist').append('<li class="warning">'+message+'</li>');
    }

    function Delete( obj ) {

        var oldname = jQuery(obj).parent().parent().children('a').text();
        var flag = confirm("Do you realy want to delete " + jQuery.trim(oldname) + "?");

        if ( flag == true )
        {
            var link = jQuery(obj).attr('href');
            window.location = link;
        }
        else
        {
            NotifyWarning('Deleting canceled by user');
        }
    }

    function Rename( obj ) {

        var oldname = jQuery(obj).parent().parent().children('a').text();
        var name = prompt( 'Enter new name', jQuery.trim(oldname) );

        if (name!=null && name!="")
        {
            var link = jQuery(obj).attr('href');
            link = link + '&amp;n=' + name;
            window.location = link;
        }
        else {
            NotifyWarning('Rename canceled by user');
        }
    }

    function Move( obj ) {


        var path2 = prompt( 'Enter new path', '' );

        if (path2!=null && path2!="")
        {
            var link = jQuery(obj).attr('href');
            link = link + '&amp;p2=' + path2;
            window.location = link;
        }
        else {
            NotifyWarning('Moving canceled by user');
        }
    }

    jQuery(document).ready( function() {

        jQuery('.messagelist').click(function() {
            jQuery(this).empty();
        })
        jQuery('.delete').click(function() {
            Delete( this )
        })
        jQuery('.rename').click(function() {
            Rename( this )
        })
        jQuery('.move').click(function() {
            Move( this )
        })
    });
</script>
{% endblock %}

{% block panels %}
<div class="module">
    <h2>Upload</h2>

    <h3>Files</h3>

    <div class="upload">
        <form action="/upload/" method="post" enctype="multipart/form-data">{% csrf_token %}
            <input type="file" draggable="true" name="files" id="files" multiple="multiple" style="width: 210px;"/>
            <input type="hidden" name="h" value="{{ home_id }}">
            <input type="hidden" name="p" value="{{ path }}">
            <input type="submit" name="submit" value="Upload" style="margin: 5px 5px;">
        </form>
    </div>
</div>

<div class="module">
    <h2>Create</h2>

    <div class="upload">
        <form action="/action/add/" method="GET" >
            <input type="text" name="n" size="32" style="margin: 5px 5px;">
            <input type="hidden" name="h" value="{{ home_id }}">
            <input type="hidden" name="p" value="{{ path }}">
            <input type="submit" name="submit" value="Ok" style="margin: 5px 5px;">
        </form>
    </div>
</div>

<div class="module">
    <h2>Recent Actions</h2>

    {% if history|length != 0 %}
    <h3>History</h3>
    {% else %}
    <h3>Nothig</h3>
    {% endif %}

    <ul class="actionlist">
        {% for item in history %}
        <li class="{{ item.get_type_display }}link">
            <a href="/browser/?h={{ item.lib_id }}&amp;p={{ item.path }}">{{ item.message }}</a> <br/> <span class="mini quiet">{{ item.user }}</span>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}

{% block main %}
<div class="module" id="changelist">

    <table id="result_list" cellspacing="0">
        <caption><a href="auth/" class="section">Files</a></caption>
        <thead>
        <tr>
            <th scope="col" class="sorted ascending" style="width: 70%;" >
                Pk
            </th>
            <th scope="col">
                <a href="http://95.143.222.146:8080/admin/post/ipost/?ot=asc&amp;o=4">
                    Size
                </a></th>
            <th scope="col" >
                <a href="http://95.143.222.146:8080/admin/post/ipost/?ot=desc&amp;o=5">
                    Time
                </a></th>
        </tr>
        </thead>
        <tbody>
        {% for item in files %}
            <tr class="{% cycle 'row1' 'row2' %}">
                <td>
                    <a href="/{% if item.class == 'file' %}download{% else %}browser{% endif %}/?h={{ home_id }}&amp;p={{ item.url }}"
                       class="{{ item.class }}">
                        {{ item.name }}
                    </a>
                    <div style="float:right;">
                        <a class="rename" href="/action/rename/?h={{ home_id }}&amp;p={{ item.url }}" onclick="return false;">
                            <img src="/static/img/edit.png" alt="Rename"/>
                        </a>
                        <a class="move" href="/action/move/?h={{ home_id }}&amp;p={{ item.url }}" onclick="return false;">
                            <img src="/static/img/move.png" alt="Move"/>
                        </a>
                        <a class="delete" href="/action/delete/?h={{ home_id }}&amp;p={{ item.url }}" onclick="return false;">
                            <img src="/static/img/delete.png" alt="Move to trash"/>
                        </a>
                        <a href="/download/?h={{ home_id }}&amp;p={{ item.url }}" title="Download" >
                            <img src="/static/img/down.png"/>
                        </a>
                    </div>
                </td>
                <td class="nowrap">{{ item.size|filesizeformat }}</td>
                <td class="nowrap">{{ item.time|date:"Y F d, P" }}</td>
            </tr>
        {% endfor %}

        {% if files|length == 0 %}
            <tr class="row1">
               <td><a href="#"></a></td><td class="nowrap"></td><td class="nowrap"></td>
            </tr>
           <tr class="row2">
                <td><a href="#">There is no any files or folders</a></td>
                <td class="nowrap"></td>
                <td class="nowrap"></td>
            </tr>
           <tr class="row1">
               <td><a href="#"></a></td><td class="nowrap"></td><td class="nowrap"></td>
            </tr>
        {% endif %}

        </tbody>
    </table>
</div>
{% endblock %}