{% extends "base.html" %}

{% block panels %}
<div class="module">
    <h2>Recent Actions</h2>

    <h3>Files</h3>

    <ul class="actionlist">
        <li class="changelink">
            <a href="member/iuser/3/">Kirill</a> <br/> <span class="mini quiet">IUser</span>
        </li>
    </ul>
</div>
{% endblock %}

{% block main %}
<div class="module dashboard">
    <table>
        <caption><a href="auth/" class="section">File libraries</a></caption>
        {% for item in FileLibs %}
        <tr>
            <th scope="row"><a href="/browser/?h={{ item.lib.id }}">{{ item.lib.name }}</a></th>
            <td><a href="auth/group/add/" class="addlink">Add</a></td>
            <td><a href="auth/group/" class="changelink">Change</a></td>
        </tr>
        {% endfor %}
    </table>
</div>

<div class="module dashboard">
    <table>
        <caption><a href="member/" class="section">Trash bins</a></caption>

        {% for item in FileLibs %}
        <tr>
            <th scope="row"><a href="#">{{ item.lib.name }}</a></th>
            <td><a href="auth/group/add/" class="addlink">Add</a></td>
            <td><a href="auth/group/" class="changelink">Change</a></td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}