{% load limited_filters %}
<div class="module">
    <h2>Recent Actions</h2>

    {% if history|length != 0 %}
    <h3>History</h3>
    {% else %}
    <h3>Nothig</h3>
    {% endif %}

    <ul class="actionlist history">
        {% for item in history %}
        <li class="{{ item.get_image_type }}-act">
            <a href="{% url browser item.lib_id %}?p={{ item.path }}&hl={{ item.hash }}">{{ item.name|join:", "|truncatepath:"18" }}</a>
            <br/>
            <span class="mini quiet2">
                {{ item.get_type_display|capfirst }} by <b>{{ item.user }}</b>
                {% if item.is_extra %}
                | {{ item.get_extra|safe }}
                {% endif %}
            </span>
        </li>
        {% endfor %}
    </ul>
</div>