<div class="module">
    <h2>Information</h2>

    <h3>About</h3>
    <ul class="actionlist">
        <li class="create-act">
            <a href="http://limitedfm.isudo.ru/docs/intro/FAQ.html">FAQ</a>
            <br/>
            <span class="mini quiet">Usefully info</span>
        </li>
        <li class="create-act">
            <a href="https://bitbucket.org/B7W/limitedfm/overview">Source code</a>
            <br/>
            <span class="mini quiet">It isn't for you lamo :)</span>
        </li>
    </ul>
</div>