/*
    DJANGO Admin styles
*/

body {
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-family: "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
    color: #333;
    background: #fff;
}

/* LINKS */

a:link, a:visited {
    color: #5b80b2;
    text-decoration: none;
}

a:hover {
    color: #036;
}

a img {
    border: none;
}

a.section:link, a.section:visited {
    color: white;
    text-decoration: none;
}
a.section-info:link, a.section-info:visited {
    color: #EEE;
    text-decoration: none;
}

/* GLOBAL DEFAULTS */

p, ol, ul, dl {
    margin: .2em 0 .8em 0;
}

p {
    padding: 0;
    line-height: 140%;
}

h1, h2, h3, h4, h5 {
    font-weight: bold;
}

h1 {
    font-size: 18px;
    color: #666;
    padding: 0 6px 0 0;
    margin: 0 0 .2em 0;
}

h2 {
    font-size: 16px;
    margin: 1em 0 .5em 0;
}

h3 {
    font-size: 14px;
    margin: .8em 0 .3em 0;
    color: #666;
    font-weight: bold;
}

h4 {
    font-size: 12px;
    margin: 1em 0 .8em 0;
    padding-bottom: 3px;
}

li, dt, dd {
    font-size: 12px;
    line-height: 15px;
}

dt {
    font-weight: bold;
    margin-top: 4px;
}

dd {
    margin-left: 0;
}

form {
    margin: 0;
    padding: 0;
}

/* TEXT STYLES & MODIFIERS */

.mini {
    font-size: 10px;
}

.quiet, a.quiet:link, a.quiet:visited {
    color: #999 !important;
    font-weight: normal !important;
}

.quiet2, a.quiet:link, a.quiet:visited {
    color: #888 !important;
    font-weight: normal !important;
}

.float-right {
    float: right;
}

.hide {
    display: none;
}

.clear {
    clear: both;
}

.nowrap {
    white-space: nowrap;
}

.space {
    margin-right: 4px;
}

/* TABLES */

table {
    border-collapse: collapse;
    border-color: #ccc;
}

td, th {
    font-size: 11px;
    line-height: 13px;
    border-bottom: 1px solid #eee;
    vertical-align: top;
    padding: 5px;
    font-family: "Lucida Grande", Verdana, Arial, sans-serif;
}

th {
    text-align: left;
    font-size: 12px;
    font-weight: bold;
}

thead th {
    color: #666;
    padding: 2px 5px;
    font-size: 11px;
    background: #e1e1e1 url(../img/nav-bg.gif) top left repeat-x;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

thead th:first-child {
    border-left: none !important;
}

#changelist tbody tr {
    height: 29px;
}
#changelist tr:hover {
    background-color: #FFC;
}

.row1 {
    background: #EDF3FE;
}

.row2 {
    background: white;
}

.hl {
    background-color: #e0e0ff;
}

/* SORTABLE TABLES */

thead th a:link, thead th a:visited {
    color: #666;
    display: block;
}

table thead th.sorted {
    background-position: bottom left !important;
}

table thead th.sorted a {
    padding-right: 13px;
}

table thead th.ascending a {
    background: url(../img/arrow-up.gif) right .4em no-repeat;
}

table thead th.descending a {
    background: url(../img/arrow-down.gif) right .4em no-repeat;
}

/* FORM DEFAULTS */

input {
    margin: 2px 0;
    padding: 2px 3px;
    vertical-align: middle;
    font-family: "Lucida Grande", Verdana, Arial, sans-serif;
    font-weight: normal;
    font-size: 11px;
}

input[type=text], input[type=password] {
    border: 1px solid #ccc;
}

.upload input[type=text] {
    margin: 5px 5px;
    width: 180px;
}

/* FORM BUTTONS */

input[type=submit], .submit-row input {
    background: white url(../img/nav-bg.gif) bottom repeat-x;
    padding: 3px 5px;
    color: black;
    border: 1px solid #bbb;
    border-color: #ddd #aaa #aaa #ddd;
    min-width: 100px
}

/* MODULES */

.module {
    border: 1px solid #ccc;
    margin-bottom: 5px;
    background: white;
}

.dashboard {
    width: 80%;
}

.module p, .module ul, .module h3, .module h4 {
    padding-left: 10px;
    padding-right: 10px;
}

.module ul {
    margin-left: 1.5em;
}

.module h3 {
    margin-top: .6em;
}

.module h2, .module caption, .inline-group h2 {
    margin: 0;
    padding: 4px;
    font-size: 11px;
    text-align: left;
    font-weight: bold;
    background: #7CA0C7 url(../img/default-bg.gif) top left repeat-x;
    color: white;
}

.module table {
    border-collapse: collapse;
    width: 100%;
}

/* MESSAGES & ERRORS */

ul.messagelist {
    padding: 0 0 5px 0;
    margin: 0;
}

ul.messagelist li {
    font-size: 12px;
    line-height: 24px;
    display: block;
    padding: 4px 5px 4px 50px;
    border-bottom: 1px solid #ddd;
    color: #666;
    background: #ffc url(../img/create.png) 25px no-repeat;
}

ul.messagelist li.error {
    background-image: url(../img/delete.png);
    line-height: 24px;
}

/* BREADCRUMBS */

div.breadcrumbs {
    background: white url(../img/nav-bg.gif) repeat-x;
    padding: 4px 36px;
    font-size: 13px;
    font-weight: bold;
    color: #999;
    border-top: 1px solid white;
    border-bottom: 1px solid #ccc;
    text-align: left;
}

/* ACTION ICONS */
.create-act {
    padding-left: 20px;
    background: url(../img/create.png) 0 0.5em no-repeat;
}
.rename-act {
    padding-left: 20px;
    background: url(../img/rename.png) 0 0.5em no-repeat;
}
.move-act {
    padding-left: 20px;
    background: url(../img/move.png) 0 0.5em no-repeat;
}
.trash-act {
    padding-left: 20px;
    background: url(../img/trash.png) 0 0.5em no-repeat;
}
.delete-act {
    padding-left: 20px;
    background: url(../img/delete.png) 0 0.5em no-repeat;
}

/* PAGE STRUCTURE */

#container {
    position: relative;
    width: 100%;
    min-width: 760px;
    padding: 0;
}

#content {
    margin: 10px 20px;
}

#header {
    width: 100%;
}

#content-main {
    float: left;
    width: 60%;
}

#content-related {
    float: left;
    width: 230px;
    position: relative;
    margin-right: 20px;
}

#footer {
    clear: both;
    padding: 10px;
}

#copyright {
    font-size: 11px;
    color: #999;
    margin: 5px;
}

#copyright a {
    color: #999;
}

/* HEADER */

#header {
    background: #417690;
    color: #dee6e9;
    overflow: hidden;
}

#header a:link, #header a:visited {
    color: white;
}

#header a:hover {
    text-decoration: underline;
}

#branding h1 {
    padding: 0 16px;
    font-size: 24px;
    margin: 8px 0;
    font-weight: normal;
    color: #fff;
}

#branding h2 {
    padding: 0 10px;
    font-size: 14px;
    margin: -8px 0 8px 0;
    font-weight: normal;
    color: #ffc;
}

#user-tools {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1.2em 10px;
    font-size: 11px;
    text-align: right;
}

/* SIDEBAR */

#content-related h3 {
    font-size: 12px;
    color: #666;
    margin-bottom: 3px;
}

#content-related h4 {
    font-size: 11px;
}

#content-related .module h2 {
    background: #eee url(../img/nav-bg.gif) bottom left repeat-x;
    color: #666;
}

/* DASHBOARD */

.dashboard  table th {
    vertical-align: middle;
    padding: 4px 5px;
    width: 100%;
}

.dashboard  table td {
    vertical-align: middle;
    padding: 4px 5px;
    white-space: nowrap;
}

.dashboard  table td a {
    display: block;
    padding-right: .6em;
}

/* RECENT ACTIONS MODULE */

.module ul.actionlist {
    margin-left: 0;
}

ul.actionlist li {
    list-style-type: none;
    margin-bottom: 2px;
}

.dir {
    font-weight: bold;
    font-size: 13px;
}

.file {
    font-size: 13px;
}

.history a {
    margin: 0 4px;
}

.history div {
    margin: 4px 8px 0px 8px;
}

.upload {
    margin-left: 5px;
    margin-bottom: 10px;
}

.error {
    font-size: 18px;
    padding: 20px;
    line-height: 24px;
}

/* START LOGIN FORM */
.login {
    width: 350px;
}

#login-form {
    margin: 0px 0px 10px 0px;
}

.login .form-row {
    padding: 4px 0;
    float: left;
    width: 100%;
}

.login .form-row label {
    float: left;
    width: 9em;
    padding-right: 0.5em;
    line-height: 2em;
    text-align: right;
    font-size: 1em;
    color: #333;
}

.login .form-row #id_username, .login .form-row #id_password {
    width: 14em;
}

.login .submit-row {
    clear: both;
    padding: 1em 0 0 9.4em;
}

/* END LOGIN FORM */
