/*
    DJANGO Admin styles
*/

body {
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-family: "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
    color: #333;
    background: #fff;
}

/* LINKS */

a:link, a:visited {
    color: #5b80b2;
    text-decoration: none;
}

a:hover {
    color: #036;
}

a img {
    border: none;
}

a.section:link, a.section:visited {
    color: white;
    text-decoration: none;
}
a.section-info:link, a.section-info:visited {
    color: #EEE;
    text-decoration: none;
}

/* GLOBAL DEFAULTS */

p, ol, ul, dl {
    margin: .2em 0 .8em 0;
}

p {
    padding: 0;
    line-height: 140%;
}

h1, h2, h3, h4, h5 {
    font-weight: bold;
}

h1 {
    font-size: 18px;
    color: #666;
    padding: 0 6px 0 0;
    margin: 0 0 .2em 0;
}

h2 {
    font-size: 16px;
    margin: 1em 0 .5em 0;
}

h3 {
    font-size: 14px;
    margin: .8em 0 .3em 0;
    color: #666;
    font-weight: bold;
}

h4 {
    font-size: 12px;
    margin: 1em 0 .8em 0;
    padding-bottom: 3px;
}

li, dt, dd {
    font-size: 12px;
    line-height: 15px;
}

dt {
    font-weight: bold;
    margin-top: 4px;
}

dd {
    margin-left: 0;
}

form {
    margin: 0;
    padding: 0;
}

/* TEXT STYLES & MODIFIERS */

.mini {
    font-size: 10px;
}

.quiet, a.quiet:link, a.quiet:visited {
    color: #999 !important;
    font-weight: normal !important;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.hide {
    display: none;
}

.clear {
    clear: both;
}

.nowrap {
    white-space: nowrap;
}

.space {
    margin-right: 4px;
}

/* TABLES */

table {
    border-collapse: collapse;
    border-color: #ccc;
}

td, th {
    font-size: 11px;
    line-height: 13px;
    border-bottom: 1px solid #eee;
    vertical-align: top;
    padding: 5px;
    font-family: "Lucida Grande", Verdana, Arial, sans-serif;
}

th {
    text-align: left;
    font-size: 12px;
    font-weight: bold;
}

thead th {
    color: #666;
    padding: 2px 5px;
    font-size: 11px;
    /*background: #e1e1e1 url(../img/nav-bg.gif) top left repeat-x;*/
    background: #e1e1e1 url(../img/sprite.png) top left repeat-x;
    background-position: 0px -54px;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

thead th:first-child {
    border-left: none !important;
}

#changelist tr:hover {
    background-color: #FFC;
}

.row1 {
    background: #EDF3FE;
}

.row2 {
    background: white;
}

/* SORTABLE TABLES */

thead th a:link, thead th a:visited {
    color: #666;
    display: block;
}

table thead th.sorted {
    background: #e1e1e1 url(../img/sprite.png) repeat-x;
    background-position: 0px -64px;
}

table thead th.sorted a {
    padding-right: 13px;
}

table thead th.ascending a {
    background: url("data:image/gif;base64,R0lGODlhCQAGAKIAAMjIyLKyssnJybGxsejo6JmZmf///wAAACH5BAEAAAYALAAAAAAJAAYAAAMVaGq0TqU4VsaQCoaxJQSCAF5QZEYJADs=") right .4em no-repeat;
}

table thead th.descending a {
    background: url("data:image/gif;base64,R0lGODlhCQAGAKIGAMjIyLKyssnJybGxsejo6JmZmf///wAAACH5BAEAAAYALAAAAAAJAAYAAAMVWLpKNQKIWIh5YYRq+htc54ViZ4kJADs=") right .4em no-repeat;
}

/* FORM DEFAULTS */

input {
    margin: 2px 0;
    padding: 2px 3px;
    vertical-align: middle;
    font-family: "Lucida Grande", Verdana, Arial, sans-serif;
    font-weight: normal;
    font-size: 11px;
}

input[type=text], input[type=password] {
    border: 1px solid #ccc;
}

/* FORM BUTTONS */

input[type=submit], .submit-row input {
    background: #eee url(../img/sprite.png) top left repeat-x;
    background-position: 0px -64px;
    padding: 3px 5px;
    color: black;
    border: 1px solid #bbb;
    border-color: #ddd #aaa #aaa #ddd;
    min-width: 100px
}

/* MODULES */

.module {
    border: 1px solid #ccc;
    margin-bottom: 5px;
    background: white;
}

.dashboard {
    width: 80%;
}

.module p, .module ul, .module h3, .module h4 {
    padding-left: 10px;
    padding-right: 10px;
}

.module ul {
    margin-left: 1.5em;
}

.module h3 {
    margin-top: .6em;
}

.module h2, .module caption, .inline-group h2 {
    margin: 0;
    padding: 4px;
    font-size: 11px;
    text-align: left;
    font-weight: bold;
    background: #7CA0C7 url(../img/sprite.png) repeat-x;
    background-position: 0px 0px;
    color: white;
}

.module table {
    border-collapse: collapse;
    width: 100%;
}

/* MESSAGES & ERRORS */

ul.messagelist {
    padding: 0 0 5px 0;
    margin: 0;
}

ul.messagelist li {
    font-size: 12px;
    display: block;
    padding: 4px 5px 4px 25px;
    margin: 0 0 3px 0;
    border-bottom: 1px solid #ddd;
    color: #666;
    background: #ffc url("data:image/gif;base64,R0lGODlhEAAQANUAAAAAAP////D78Pr++tLz0ZHeja/orLDprbXrsrzsusvxydf01tbz1eH34OT34+b45XrOc37SeIHWe4HVe4/eipTgj7ztudDyztXz02C6VmK7WGnBYG/FZnDFZ3nOcXvQc3nNcfH68EitO06wQlSzSFa0S1m2TWjAXW3EY/39/f///wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH5BAEAACoALAAAAAAQABAAAAZyQJVwSCwaFZSIpLIwCh8okXQKEhQdpqlWpLEON9spSfQZWsJSQ0eKEUamp6khtRZVhHFpKD5P5SFCYFIpIQkpKRNTZSoQUwyHiFoFQghij4laF0IDGWIeWxxEGCNoIiUORQSdWxsNTgMHIBsbHxZOt0ZBADs=") 5px .3em no-repeat;
}

ul.messagelist li.warning {
    background-image: url("data:image/gif;base64,R0lGODlhEAAQALMPAP/BA//BBv/VVP/YYP/QQv/LLf/TTv/ZZv/TS//DDP/NNv/CCf/ccv39/f/AAP///yH5BAEAAA8ALAAAAAAQABAAAAQ+8MlJq714ppApc87QSQsIjAcICl3gNA2YDSAMIhhQx7IlqDYQwaJ68XoTQ3HpUFCWQdWEAD2CChKm1jGyRAAAOw==");
}

ul.messagelist li.error {
    background-image: url("data:image/gif;base64,R0lGODlhEAAQANUfAP9UVP9aWv9OTv/5+f/e3v+urv/MzP/t7f97e/8kJP9RUf8VFf/h4f91df85Of8JCf+fn//Gxv/b2/9gYP88PP8YGP+lpf8nJ//AwP/Pz//Jyf94eP8wMPv7+/8zM/////8AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH5BAEAAB8ALAAAAAAQABAAAAZcwI9wSCwaMY3ABJExChkOkHQqOBQJlakWdLEOPdstYFgIhw3CgHmLEHKknbg8LlUIwaD5XDr+KNZaG0IWgFMRQgMJhRREBg9rCwRFGopbHhJOAxACHh4ABU6hRkEAOw==");
}

/* BREADCRUMBS */

div.breadcrumbs {
    padding: 4px 36px;
    font-size: 13px;
    font-weight: bold;
    color: #999;
    border-top: 1px solid white;
    border-bottom: 1px solid #ccc;
    text-align: left;
}

/* ACTION ICONS */
.action {
    padding-left: 20px;
    background: url(../img/sprite.png) no-repeat;
}

.action.create-act {
    background-position: 0px -96px;
}

.action.rename-act {
    background-position: 0px -276px;
}

.action.move-act {
    background-position: 0px -240px;
}

.action.trash-act {
    background-position: 0px -312px;
}

.action.delete-act {
    background-position: 0px -132px;
}

/* ICONS */
.icon {
    background: url(../img/sprite.png) no-repeat;
    padding-left: 20px;
    height: 16px;
}

.icon.create-icon {
    background-position: 0px -102px;
}

.icon.delete-icon {
    background-position: 0px -138px;
}

.icon.download-icon {
    background-position: 0px -174px;
}

.icon.history-icon {
    background-position: 0px -210px;
}

.icon.move-icon {
    background-position: 0px -246px;
}

.icon.rename-icon {
    background-position: 0px -282px;
}

.icon.trash-icon {
    background-position: 0px -318px;
}

.icon.zip-icon {
    background-position: 0px -354px;
}


/* PAGE STRUCTURE */

#container {
    position: relative;
    width: 100%;
    min-width: 760px;
    padding: 0;
}

#content {
    margin: 10px 20px;
}

#header {
    width: 100%;
}

#content-main {
    float: left;
    width: 60%;
}

#content-related {
    float: left;
    width: 230px;
    position: relative;
    margin-right: 20px;
}

#footer {
    clear: both;
    padding: 10px;
}

#copyright {
    font-size: 11px;
    color: #999;
    margin: 5px;
}

#copyright a {
    color: #999;
}

/* HEADER */

#header {
    background: #417690;
    color: #ffc;
    overflow: hidden;
}

#header a:link, #header a:visited {
    color: white;
}

#header a:hover {
    text-decoration: underline;
}

#branding h1 {
    padding: 0 16px;
    font-size: 24px;
    margin: 8px 0;
    font-weight: normal;
    color: #f4f379;
}

#branding h2 {
    padding: 0 10px;
    font-size: 14px;
    margin: -8px 0 8px 0;
    font-weight: normal;
    color: #ffc;
}

#user-tools {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1.2em 10px;
    font-size: 11px;
    text-align: right;
}

/* SIDEBAR */

#content-related h3 {
    font-size: 12px;
    color: #666;
    margin-bottom: 3px;
}

#content-related h4 {
    font-size: 11px;
}

#content-related .module h2 {
    /*background: #eee url(../img/nav-bg.gif) bottom left repeat-x;*/
    background: #eee url(../img/sprite.png) top left repeat-x;
    background-position: 0px -60px;
    color: #666;
}

/* DASHBOARD */

.dashboard  table th {
    width: 100%;
}

.dashboard  table td {
    white-space: nowrap;
}

.dashboard  table td a {
    display: block;
    padding-right: .6em;
}

/* RECENT ACTIONS MODULE */

.module ul.actionlist {
    margin-left: 0;
}

ul.actionlist li {
    list-style-type: none;
}

.dir {
    font-weight: bold;
    font-size: 13px;
}

.file {
    font-size: 13px;
}

.history a {
    margin: 0 4px;
}

.upload {
    margin-left: 5px;
    margin-bottom: 10px;
}

.error {
    font-size: 18px;
    padding: 20px;
    line-height: 24px;
}

/* START LOGIN FORM */
.login {
    width: 350px;
}

#login-form {
    margin: 10px auto;
}

.login .form-row {
    padding: 4px 0;
    float: left;
    width: 100%;
}

.login .form-row label {
    float: left;
    width: 9em;
    padding-right: 0.5em;
    line-height: 2em;
    text-align: right;
    font-size: 1em;
    color: #333;
}

.login .form-row #id_username, .login .form-row #id_password {
    width: 14em;
}

.login .submit-row {
    clear: both;
    padding: 1em 0 0 9.4em;
}

/* END LOGIN FORM */